.search-input-container {
  position: relative;
  flex-grow: 1;
}

.icon {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}
.cancel-icon {
  cursor: pointer;
}

.search-input {
  width: 100%;
  padding: 10px 0px 10px 10px;
  border: 1px solid #cfdeeb;
  border-radius: 4px;
  font-size: 16px;
  &::placeholder {
    color: #8095b1;
    font-size: 14px;
  }
}
